h1{
    color: #cde20a;
    text-align: center;
    background-color: #e90d86;
    margin: 5px 25% 5px 25%;
}

h2{
    color: #b10a0a;
    text-align: center;
    background-color: #cde20a;
    margin: 15px 25% 15px 25%;
}

p{
    text-align: center;
}