h1{
    color: #e277b2;
    text-align: center;
    background-color: #05a05f;
    margin: 5px 25% 5px 25%;
}

#first-heading{
    margin-top: 50px;
}

h2{
    color: #ffffff;
    text-align: center;
    background-color: #05a05f;
    margin: 15px 25% 15px 25%;
}

p{
    text-align: center;
}